@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/public/fonts/Satoshi-Medium.otf');
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('/public/fonts/Satoshi-Bold.otf');
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('/public/fonts/Satoshi-Light.otf');
}

.body-contact{
    background-color: white;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-deco{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 200px 200px 0 0;
    padding: 5px;
    font-family: 'Satoshi-Medium';
    margin: 0 10% 10% 0;
    width: 30%;
}

.form-contact{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-bottom: none;
    border-radius: 200px 200px 0 0;
}

.title-contact-form{
    text-align: center;
    font-size: 2em;
    margin: 10% 0 10% 0;
    font-family: 'Satoshi-Bold';
}

.input-form-contact{
    border: 1px solid black;
    border-radius: 0.3em;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.input-form-contact-textarea{
    border: 1px solid black;
    border-radius: 0.3em;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    height: 10rem;
}

.label-form-contact{
    font-size: 1rem;
    margin: 5% 0 0 1rem;
}

.btn-send-contact{
    margin: 5% 30% 5% 30%;
    background-color: rgba(211, 143, 63, 1);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Satoshi-Medium';
    font-size: 1rem;
}

.contenedor-deco-brillos-contact{
    display: flex;
    justify-content: space-between;
}

.contenedor-deco-brillo-contact{
    border: 1px solid black;
    margin: 100px 0 0 0;
}

.deco-medio-brillos-contact{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-right: none;
    border-left: none;
}

.deco-brillo-black-izq {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius:  0 60px 0 80px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.deco-brillo-black-der{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 60px 0 80px 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.horarios-de-atencion-contact{
    margin: 0 20% 0 20%;
    font-size: 1.5em;
}
.redes-sociales-contact {
    margin: 10% 30% 0 20%;
    font-size: 1.5em;
}


.title-informacion-contact{
    font-family: 'Satoshi-Bold';
}

.horario-contact{
    font-family: 'Satoshi-Light';
    font-size: 0.9em;
    padding: 0;
    margin: 0 0 0 2em;
}

.contenedor-redes-sociales-contact{
    display: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-social-contact{
    position: relative;
}

.red-social-contact a{
    position: relative;
    z-index: 2;
}

.user-red-social-contact-uno{
    position:absolute;
    margin: 10px 0 10px 0;
    z-index: 1;
    color: black;
}


.icon-red-social-contact{
    display: relative;
    cursor: pointer;
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    padding: 0 100% 0 0;
    z-index: -1;
}

.icon-red-social-contact:hover{
    animation: mostrarred 0.5s ease forwards;
 }

@keyframes mostrarred {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50px);
        background-color: rgba(255, 255, 255, 0);
    }
}
 




@media screen and (max-width: 768px) {
    .contact{
        flex-direction: column;
    }

    .form-deco{
        width: 80%;
        margin: 0 0 10% 0;
    }

    .form-contact{
        width: 100%;
    }

    .title-contact-form{
        font-size: 1.5em;
    }

    .input-form-contact{
        font-size: 0.8em;
    }

    .input-form-contact-textarea{
        font-size: 0.8em;
    }

    .label-form-contact{
        font-size: 1.5em;
    }

    .btn-send-contact{
        font-size: 1.3em;
    }

    .informacion-contact{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title-informacion-contact{
        font-size: 1.5em;      
    }

    .horarios-de-atencion-contact{
        display: flex;
        flex-direction: column;
        margin: 0 10% 0 10%;
        font-size: 1em;
    }

    .redes-sociales-contact{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10% 15% 10% 15%;
        font-size: 1em;
    }

    .horario-contact{
        font-size: 1.2em;
        margin: 0 15% 0 15%;
    }

    .contenedor-redes-sociales-contact{
        display: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icon-red-social-contact{
        position: relative;
        width: 50%;
        height: 50%;
        background-color: transparent;
        cursor: pointer;
        animation: none;
        margin: 0 0 0 15%;
        z-index: 2;
    }
    .icon-red-social-contact:hover{
        animation: none;
    }

    .user-red-social-contact-uno{
        position: relative;
        cursor: pointer;
        z-index: 2;
    }
}

