@font-face {
    font-family: 'Satoshi-Bold';
    src: url('/public/fonts/Satoshi-Bold.otf');
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('/public/fonts/Satoshi-Black.otf');
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/public/fonts/Satoshi-Medium.otf');
}


.body{
    background-color: white;
}



.texto-presentacion{
    text-align: center;
    font-family: 'Satoshi-Medium';
    font-size: 2.5em;
    position: absolute;
    color: white;
    margin: 10% 0 0 10%;
    z-index: 2;
}

.contenedor-imagen-presentacion{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagen-presentacion{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.contenedor-imagen-presentacion::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con opacidad */
    z-index: 1;
}

.contenedor-bajar{
    position: absolute;
    text-align: center;
    bottom: -15%;
    width: 100%;
    z-index: 2;
}

.bajar{
    width: 70px;
}

.titulo{
    margin: 5% 0 0 2%;
    font-family: 'Satoshi-Black';
}

.home-products {
    display: flex;
    justify-content: center;
}

.contenedor-boton-ver-productos{
    text-align: center;
    margin: 5% 0 0 0;
} 
.btn-ver-productos{
    background-color: white;
    border: 1px solid black;
    padding: 0.8em;
    font-family: "Satoshi-Bold";
    font-size: 1.3em;
    border-radius: 5px;
}


.home-caracteristicas{
    display: flex;
    justify-content: center;
    margin: 10% 0 0 0;
}

@media screen and (max-width: 768px){
    .home-caracteristicas{
        display: inline-block;
        width: 100%;
    }

    .contenedor-boton-ver-productos{
        margin: 10% 0 15% 0;
    } 
    .btn-ver-productos{
        font-size: 1em;
    }
}
