.contenedor-producto{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.galeria-producto{
    display: flex;
    flex-direction: row;
    margin: 0 20% 0 0 ;
}

.imagenes-producto{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}

.imagenes-producto img{
    width: 50%;
    margin: 5px;
}

.imagen-vista img{
    width: 150%;
}

.seleccion{
    margin: 15px 0 15px 0;
}

.seleccion-color{
    color: transparent;
    padding: 10px;
    margin: 5px;
    border-radius: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.seleccion-talle{
    padding: 10px;
    border: 1px black solid;
    margin: 5px;
}

.selector-cantidad{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.selector-cantidad button{
    background-color: black;
    color: white;
    border: none;
    padding: 0.2em 1em 0.2em 1em;
    font-size: x-large;
    cursor: pointer;
}
.selector-cantidad button:hover{
    background-color: rgb(36, 36, 36);
}

.selector-cantidad p{
    font-size: large;
    padding: 5px 40px 5px 40px;
}

.btn-anadir{
    background-color: chocolate;
    border: none;
    font-size: large;
    font-family: 'Satoshi-Black';
    margin: 10% 0 0 0;
    padding: 0.3em 1em 0.3em 1em;
    cursor: pointer;


}

/* estilo dinamico / sobreescribe */
.selected {
    border: 3px solid orange; 
}